*{
  padding:0;
  margin:0;
  position:relative;
}

body{
  font:normal 1em/20px ubuntu;
  color:#444;
  text-align:left;
}

a{
  color:#290;
  text-decoration:none;
}

a:hover{
  color:#170;
  text-decoration:underline;
}

h1{
  
}

article,
aside,
details,
dialog,
footer,
header,
main,
nav,
section,
summary{
  display:block;
}

img{
  max-width:100%;
  max-height:100%;
}

input:not([type=file]),
select,
textarea{
  border-radius:4px;
  background:#fff;
  display:inline-block;
  border:1px solid #ccc;
  padding:6px 6px;
  font-size:16px;
  max-width:100%;
}

select{
  width:auto;
}

input:focus,
textarea:focus{
  outline:none;
  border:1px solid rgba(30,150,255,0.7);
  box-shadow:0px 0px 1px 1px rgba(30,150,255,0.7);
}

input[type="text"]{

}

canvas{
  border:1px solid #ccc;
  cursor:default;
}

canvas:active{
  cursor:default;
}

canvas.loader{
  border:0;
}

#header-main{
  height:50px;
}

#header-container{
  position:fixed;
  width:100%;
  top:0;
  z-index:200;
  border-bottom:1px solid #ddd;
}

#header-main .header-inner{
  margin:0 auto;
  background:rgba(255,255,255,0.90);
}


#header-logo{
  display:flex;
  display:-webkit-flex;
  flex-flow:row;
  -webkit-flex-flow:row;
  height:50px;
}

#header-logo img.logo {
  height:42px;
  padding:4px;
  width:auto;
}

#header-logo h3{
  flex:1;
  -webkit-flex:1;
  font-size:18px;
  padding:15px 0;
  color:#222;
}


#nav-main > ul{
  background:#fff;
  max-height:0px;
  overflow:hidden;
  transition: max-height 0.4s;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
}

#nav-main ul.showing{
  max-height:700px;
}

#nav-main ul li{
  box-sizing:border-box;
  display:inline-block;
  width:100%;
  padding:15px;
  text-align:left;
  border-bottom:1px solid #ccc;
}

#nav-main ul li:hover{
  background:#dff0d8;
}

#nav-main a{
  text-decoration:none;
}

#nav-account{
  position:relative;
  width:100%;
  max-height:0px;
  background:#fff;
  z-index:3;
  transition: max-height 0.4s;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
}

#nav-account.showing{
  max-height:700px;
  overflow:visible;
}

#nav-account li{
  background-color:#fff;
  color:#444;
  box-sizing:border-box;
  width:100%;
  padding:10px;
  border-radius:0;
}

#nav-account li.hover{
  background-color:#ccc;
}

#main-nav{
  
}

#page-container{
  width:100%;
  margin:0 auto;
}

/*#page-title{
  padding:10px;
  font-size:20px;
  text-align:center;
  border-bottom:1px solid #ccc;
}

#page-title .btn{
  background:#222;
  border:1px solid #000;
  border-bottom:1px solid #000;
  color:#fff;
  padding:6px 12px;
}

#page-title span.left{
  position:absolute;
  left:5px;
  top:3px;
  z-index:2;
}

#page-title span.right{
  position:absolute;
  right:5px;
  top:3px;
  z-index:2;
}*/

#content{
  padding:0 10px;
}

#footer-main{
  width:100%;
  background:#eee;
  color:#777;
  padding:20px 10px;
  box-sizing:border-box;
}

#footer-inner{
  padding:3px;
  background:rgba(255,255,255,0.90);
  border-top:2px solid #ccc;
  
}

.blog-header{
  padding:15px 5px;
  border-bottom:1px solid #ccc;
}

.blog-header h3 {}

.shade{
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.75);
  z-index:500;
  display:none;

}

.mobile-icons{
  display:flex;
  display:-webkit-flex;
  flex-flow:row;
  -webkit-flex-flow:row;
}

.mobile-icon{
  margin:auto 15px;
}

.mobile-icon img{
  width:24px;
  height:auto;
  margin-top:2px;
}
[row],.row{
  display:flex;
  display:-webkit-flex;
  flex-flow:row;
  -webkit-flex-flow:row;
}

[col],.col{
  display:flex;
  display:-webkit-flex;
  flex-flow:column;
  -webkit-flex-flow:column;
}

[flex],.flex{
  flex:1;
  -webkit-flex:1;
}

[block],.block{
  display:block;
}

.scroll-vertical{
  overflow-x:auto;
}



.desktop-content{
  display:none;
}

#content .scroll-vertical{
  padding:0;
}

.list{  
  list-style:none;
  width:100%;
}

.list li {
  list-style:none;
}

.list h2{
  font-size:1em;
}

.list .item{
  background:#fff;
}

.list.tilemode .item{
  display:inline-block;
  border-bottom:1px solid #ccc;
  margin:0 10px 25px 0;
  padding-bottom:20px;
  min-width:18%;
  box-sizing:border-box;
}

.list.tilemode .item .thumbnail{
  width:85%;
  margin:0 7.5%;
  height:auto;
  border:0;
}

.list.tilemode .item .desc{
  display:none;
}

.list.listmode .item{
  display:block;
  width:100%;
  border-bottom:1px solid #ccc;
  padding:10px 5px;
  box-sizing:border-box;
}

.list.listmode .item .thumbnail{
  width:80%;
  margin:10%;
  margin-right:15px;
  height:auto;
  border:0;
}

.list.listmode .item .desc{
  display:block;
}



.scroll-horizontal{
  overflow-y:auto;
}

.content-column{
  min-width:75%;
  margin:0 7px;
  padding:10px;
  background-color:#000;
  /*padding-top:34px*/
}

.content-column > .title{
  text-align:center;
  width:100%;
  padding:6px 0;
  /*background:linear-gradient(#776f6a,#443f3a);*/
  background-color:#000;
  border-radius:3px 3px 0 0;
  color:#fff;
  font-size:22px;
  font-weight:600;
  z-index:3;
}

.content-column .item{
  border:1px solid #444;
  background:#fff;
  padding:5px;
  margin-bottom:20px;
  width:100%;
}

.content-column .item .thumbnail{
  width:100%;
  height:auto;
}

.content-column .item .arrow{
  position:absolute;
  right:0;
  bottom:0;
  padding:6px 10px 14px 10px;
  background:#290;
  z-index:4;
  color:#fff;
  font-weight:300;
  font-size:50px;
}

.tags{
  margin:5px 0;
}

.tags a.tag{
  padding:2px;
  background:#55cc44;
  color:#fff;
  border-radius:4px;
  font-size:14px;
}

.tags a.tag:hover{
  text-decoration:none;
  background:#48b63f;
}

.aside-container{
  margin:20px 0;
}

aside.blog-filter{
  border:1px solid #ccc;
  border-radius:4px;
}

aside.blog-filter h3{
  text-align:center;
  padding:15px 0;
}

aside.blog-filter .category{
  border-top:1px solid #ccc;
  padding:15px;
}

.article-list{
  display:flex;
  display:-webkit-flex;
  flex-flow:column;
  -webkit-flex-flow:column;
}

.byline{
  font-size:11px;
}

.btn{
  padding:8px 12px;
  margin:3px 3px;
  border:1px solid #ccc;
  border-radius:4px;
  width:100%;
  background:#fff;
  text-decoration:none;
  text-align:center;
  font-size:16px;
  cursor:pointer;
  vertical-align:middle;
  box-sizing:border-box;
}

.btn:hover{
  text-decoration:none;
  background:#e8e8e8;
}

.btn-primary{
  background:#fff;
  border:1px solid #ccc;
}

.btn-primary:hover{
  background:#fff;
  border:1px solid #2c0;
  color:#000;
}

.btn-success{
  background:#5cb85c;
  border:1px solid #4cae4c;
  color:#fff;
}

.btn-success:hover{
  background:#47a447;
  border:1px solid #398439;
}

.btn-error{
  background:#d9534f;
  border:1px solid #d43f3a;
  color:#fff;
}

.btn-error:hover{
  background:#d2322d;
  border:1px solid #ac2925;
}

.btn-warning{
  background:#f0ad4e;
  border:1px solid #eea236;
  color:#fff;
}

.btn-warning:hover{
  background:#ed9c28;
  border:1px solid #d58512;
}

.btn-icon{
  width:auto;
  border:0;
  padding:8px;
  background-color:transparent;
}

.btn-icon:hover{
  background-color:transparent;
}

.form-item{
  margin:10px;
  display:flex;
  display:-webkit-flex;
  flex-flow:column;
  -webkit-flex-flow:column;
}

.form-item .title{
  font-weight:700;
  padding:2px;
  flex:1;
  -webkit-flex:1;
}

.form-item input{
  flex:1;
  -webkit-flex:1;
}

.fullspan{
  width:calc(100% + 40px);
  margin:0 -20px;
}

.message{
  padding:15px;
  border-radius:4px;
  background:#fff;
  border:1px solid transparent;
  margin-bottom:20px;
  text-align:left;
  word-wrap:break-word;
}

.message.success{
  background:#dff0d8;
  border-color:#d6e9c6;
  color:#3c763d;
}

.message.warning{
  background:#fcf8e3;
  border-color:#faebcc;
  color:#8a6d3b;
}

.message.error{
  background:#f2dede;
  border-color:#ebccd1;
  color:#a94442;
}

.

.part-number{
  font-size:12px;
  color:#888;
  text-decoration:italic;
}

.required-indicator{
  color:#f00;
  font-weight:normal;
}

.thumbnail{
  border:1px solid #d4d4d4;
  display:inline-block;
  transition: 0.2s;
}

.thumbnail:hover{
  cursor:pointer;
  /*outline:none;
  border:1px solid rgba(30,150,255,0.7);
  box-shadow:0px 0px 1px 1px rgba(30,150,255,0.7);*/
}

.thumbnail img,
img.thumbnail{
  width:100%;
  height:100%;
}

.thumbnail-lg{
  height:64px;
  width:64px;
}

.thumbnail-md{
  height:48px;
  width:48px;  
}

.thumbnail-sm{
  height:32px;
  width:32px;
}

/* glyphicons */

[class*="glyph-"]{
  display:inline-block;
  background-image:url('/static/img/glyphicons.png');
}

.glyph-list{
  width:16px;
  height:16px;
  background-position:0 0;
}

.glyph-tiles{
  width:16px;
  height:16px;
  background-position:-16px 0;
}

.glyph-search{
  width:16px;
  height:16px;
  background-position:-32px 0;
}

.glyph-menu{
  width:24px;
  height:24px;
  background-position:0 -16px;
}
