/* Tablet styles:600px - 999px */
@media screen and (min-width:600px){
  .thumbnail-lg{
    width:96px;
    height:96px;
  }
  
  .thumbnail-md{
    width:64px;
    height:64px;
  }
  
  .thumbnail-sm{
    width:48px;
    height:48px;
  }
}

/* Full desktop styles:1200px + */
@media screen and (min-width:1000px){
  body{
    font-size:1em;
  }

  #header-main{
    border-bottom:1px solid #ccc;
  }

  #header-main .header-inner{
    background:#fff;
    max-width:1170px;
    border-bottom:2px solid #2c0;
  }

  #header-main nav{
    max-width:1170px;
    margin:0 auto;
  }

  #header-main nav > ul{
    max-height:100px;
  }
  

  #header-main nav > ul > li{
    width:auto;
    border:0;
  }
  
  #nav-account{
    position:absolute;
    right:0px;
    top:40px;
    width:160px;
    border-radius:4px;
    transition: 0s;
    -webkit-transition: 0s;
  }
  
  #nav-account.showing{
    border:1px solid #ccc;
    margin:15px 0;
  }
  
  #nav-account li{
    border-radius:4px;
    width:100%;
  }

  #nav-account li:hover{
    background-color:#ccc;
  }
  
  #page-container{
    max-width:1170px;
    margin:0 auto;
  }
  
  #page-title{
    display:none;
  }
  
  .row-li .thumbnail{
    display:block;
  }
  
  .aside-container{
    width:200px;
    margin:0;
    margin-left:30px;
  }
  
  aside.blog-filter{
    border:1px solid #ccc;
    border-radius:4px;
  }
  
  aside.blog-filter .category{
    border:0;
    padding:4px 10px;
  }
  
  .btn{
    width:auto;
  }
  
  .article-list{
    flex-flow:row;
  }
  
  .form-item{
    display:block;
  }
  
  .user{
    float:right;
    right:15px;
  }
  
  .mobile-icons{
    display:none;
  }
  
  .thumbnail-lg{
    width:128px;
    height:128px;
  }
  
  .thumbnail-md{
    width:96px;
    height:96px;
  }
  
  .thumbnail-sm{
    width:64px;
    height:64px;
  }
}
