{% extends 'base.html' %}

{% block title %}Apps{% endblock %}

{% block content %}
<ul class="list-ui"> 
  {% for app in apps %}
  <li>
      <div class="row-li"> 
        <div row>    
          <div>
            <a href="{% url 'apps:run' app.id %}" class="thumbnail thumbnail-lg">
                <img src="{{ MEDIA_URL }}{{ app.thumbnail }}" />
            </a>
          </div>
          
          <div class="flex desc">
            <h4> <a href="{% url 'apps:run' app.id %}">{{ app.name }}</a></h4>
            <p class="byline">{{ app.date }}</p>
          </div>
          
           <div class="controls" col>
            <p col><a href="{% url 'apps:delete' app.id %}" class="btn btn-error">Delete</a></p>
            <p col><a href="{% url 'apps:run' app.id %}" class="btn">Open</a></p>
          </div>  
        </div>       
      </div>
  </li>
  {% endfor %}
  
  <form action="{% url 'apps:new' %}" method="post"  
  {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} > 
    {% include 'default_form.html' with submit='Create App!' %}
  </form>
</ul>    
{% endblock %}
