{% load staticfiles %}
<li class="item">
  
  <div class="thumbnail thumbnail-lg">
    <a href="{% url 'articles:show' feed.slug article.id %}">
      <img src="{{ MEDIA_URL }}{{ article.image }}"/>
    </a>
  </div>
  <h2><a href="{% url 'articles:show' feed.slug article.id %}">{{ article.name }}</a></h2>
  <h4></h4>
  <p class="byline">{{ article.date }} | <a href="#">{{ article.comment_set.all|length }} comment{{ article.comment_set.all|pluralize }}</a></p>
  <p class="desc" max-length="150">{{ article.body }}</p>
  
  <div class="tags">
    {% for category in article.category_set %}
    <span class="">tags</span>
    <a class="tag" href="{% url 'articles:filter' feed.slug article.category.slug %}">{{ article.category.name }}:{{ article.category.id }}</a>
    {% endfor %}
  </div>
</li>
