{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% load staticfiles %}
  
  <div class="desktop-content">
    <article col>
    <header class="blog-header">
      <div class="share">
        <button class="btn">SHARE</button>
      </div>
      <div row>
        <div class="thumbnail thumbnail-lg">
            <img src="{{ MEDIA_URL }}{{ newest_post.thumbnail }}" />
        </div>
        <hgroup flex>
          <h3>{{ newest_post.name }}</h3>
        </hgroup>
      </div>
      <div>
        <p class="">by <a href="#">Anonymous Author</a> | {{ newest_post.date }}</p>
        <p>posted under {{ newest_post.category }}</p>
      </div>
    </header>
    <p>{{ newest_post.body }}</p>
  </article>
  </div>
  
  <div class="fullspan mobile-content">
    
    <div class="row scroll-vertical">      
      <div class="col content-column">
        <div class="title">
          <p>Make it</p>
        </div>
        <div href="{% url 'blog:filter' 'make-it' 6 %}" class="ajax-include"></div>
      </div>
      
      <div class="col content-column">
        <div class="title">
          <p>News</p>
        </div>
        <div href="{% url 'blog:filter' 'news' 9 %}" class="ajax-include"></div>
      </div>
      
      <div class="col content-column">
        <div class="title">
          <p>Learn it</p>
        </div>
        <div href="{% url 'blog:filter' 'learn-it' 7 %}" class="ajax-include"></div>
      </div>
    </div>
  </div>
{% endblock %}
