<!DOCTYPE html>

<html>
<head>
  <title>davepowerman</title>
  <meta name="viewport" content="width=device-width">
  
  {% load staticfiles %}
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  <link rel="apple-touch-icon" href="{% static 'img/favicon.ico' %}" />
  
  
  <!--<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mobile-1.4.2.min.css' %}"/>-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>
  
  <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
  <!--<script src="{% static 'js/jquery.mobile-1.4.2.min.js' %}"></script>-->
  
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/responsive.js' %}"></script>
  
  
  
  {% block head %} {% endblock %}
</head>

<body>
  <header id="header-main">
    <div id="header-container">
      <div class="header-inner">
        <div class="row" id="header-logo">
          
          <a href="{% url 'static:index' %}">
            <img src="{% static 'img/power.svg' %}" class="logo"/>
          </a>
          <h3>davepowerman.com</h3>
          
          
          <div class="mobile-icons">
            <div class="mobile-icon search-toggle">               
              <img src="{% static 'img/search.png' %}"/>
            </div>
            
            <div class="mobile-icon menu-toggle">
              <img src="{% static 'img/menu.png' %}"/>
            </div>
          </div>
        </div>
        <nav  id="nav-main">
          <ul class="desktop-content">
            <li><a href="{% url 'static:index' %}">Home</a></li>
            <li><a href="{% url 'static:index' %}">Challenge</a></li>
            <li><a href="{% url 'apps:index' %}">Apps</a></li>
            <li><a href="{% url 'static:index' %}">Videos</a></li>
            <li><a href="{% url 'blog:index' %}">News</a></li>
            <li class="user"> 
              <a href="#">Your Account &dtrif;</a>
              <ul id="nav-account">
                <li><a href="{% url 'static:index' %}">Sign in</a></li>
                <li><a href="{% url 'static:index' %}">Sign out</a></li>
                <li><a href="{% url 'static:index' %}">Profile</a></li>  
              </ul>                 
            </li>              
          </ul>
          
          <ul class="mobile-content">
            <li><h3>Categories</h3></li>
              {% for category in categories %}
                {% if not category.parent %}
                <li>
                    <a href="{% url 'blog:filter' category.id %}">{{ category.name }}</a>
                </li>
                {% endif %}
              {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <div class="shade"></div>
  
  <div id="page-container">
        <!--<div id="page-title">
          <span class="left">{% block left_btn %}{% endblock %}</span>
          <hgroup>
            <p>{% block title %} {% endblock %}</p>
          </hgroup>
          <span class="right">{% block right_btn %}{% endblock %}</span>
        </div>-->
        
        <div id="content">
          {% block content %} {% endblock %}
        </div>
  </div>

</body>
</html>
