<!DOCTYPE html>

<html>
<head>
    <title>davepowerman</title>
    <meta name="viewport" content="width=device-width">
    
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/favicon.ico' %}" />
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-1.11.0.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>
    
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/responsive.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    
    {% block head %} {% endblock %}
</head>

<body>
    
    <container id="header-container">
        <header id="main-header">
            <div class="row">
                <div id="header-logo" class="header-icon">
                    <img src="{% static 'img/power.svg' %}"/>
                </div>
                
                <div id="header-name">
                    <h1>davepowerman.com</h1>
                </div>
                
                <div id="nav-toggle-btn" class="header-btn">
                    <img src="{% static 'img/menu.png' %}"/>
                </div>
            </div>
            <container id="nav-container" class="row">
                <div class="span1">
                    <div id="search-container" class="">
                        <form action="" method="" class="row">
                            <input type="text">
                            <input type="image" src="{% static 'img/search.png' %}">
                        </form>
                    </div>
                    <nav id="main-nav">
                        
                        <ul>
                            <li><a href="{% url 'static:index' %}">Home</a></li>
                            <li><a href="{% url 'static:index' %}">Challenge</a></li>
                            <li><a href="{% url 'static:index' %}">Videos</a></li>
                            <li><a href="{% url 'static:index' %}">News</a></li>
                        </ul>
                    </nav>
                    
                    <nav id="user-nav">
                        <ul>
                            <li><a href="{% url 'static:index' %}">Sign in</a></li>
                            <li><a href="{% url 'static:index' %}">Sign out</a></li>
                            <li><a href="{% url 'static:index' %}">Profile</a></li>                    
                        </ul>
                    </nav>
                </div>
                    <aside>
                        <div id="user-toggle-btn" class="header-btn">
                            <img src="{% static 'img/user.png' %}"/>
                        </div>    
                    </aside>
            </container>
        </header>
    </container>
    
    
    <container id="page-container">
        <div id="main-page">
            <section>
                <hgroup id="page-title">
                    {% block title %} {% endblock %}
                </hgroup>
                
                <div id="content">
                    {% block content %} {% endblock %}
                </div>
            </section>
        </div>
    </container>

</body>
</html>
